<h1>¿Triángulo?</h1>
<form action="/triangles">
  <div class="form-group">
    <label for="side1">Enter a side length:</label>
    <input type="text" name="side1" id="side1">
    <label for="side2">Enter a side length:</label>
    <input type="text" name="side2" id="side2">
    <label for="side3">Enter a side length:</label>
    <input type="text" name="side3" id="side3">
  </div>
  <button type="submit" class="btn btn-info">Make Triangle!</button>
</form>
